@media (max-width: 991.98px) {
	.chat-bot-img {
		display: none;
	}

	.channel-image {
		display: none;
	}
}

@media (max-width: 767.98px) {
	.intro-text {
		text-align: center
	}

	.stage-img {
		text-align: center
	}

	.party-popper {
		text-align: center
	}

	.birthday-numb {
		text-align: center
	}

	.about-us-text {
		text-align: center
	}

	.chatbot-info {
		text-align: center
	}

	.chatbot-btn {
		text-align: center
	}

	.instagram-info {
		text-align: center
	}

	.telegram-channel-info {
		text-align: center
	}
}