@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@900&family=Raleway:wght@300;400;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

/*Header and Main*/

header {
	background-color: #1a1a1a;
}

main {
	padding-top: 100px;
	background-color: #1a1a1a;
}

.navbar {
	background-color: #1a1a1a;
}

.navbar-brand {
	font-size: 2.4em;
	line-height: 2.8rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	margin-right: 180px;	
}

.navbar-brand:hover {
	color: #fff;
}

.nav-link {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	color: #fff;
}

.nav-link:hover {
	color: #d3d3d3;
}

.main-intro {
	margin-bottom: 100px;
}

.navbar-toggler-icon {
	filter: invert(100%);
}

.intro-title {
	color: #fff;
	font-weight: 400;
	line-height: 3.6rem;
	font-size: 60px;
}

.blue {
	font-weight: 700;
	color: #1D92FF;
}

.intro-text {
	margin-top: 170px;
	margin-bottom: 70px;
}

.intro-subtitle {
	color: #d1d1d1;
	font-weight: 300;
	font-size: 22px;
	line-height: 1.7rem;
	margin-top: 25px;
}

.intro-button {
	display: inline-block;
	margin-top: 20px;
	background-color: #fff;
	padding: 15px 40px;
	color: #1D92FF;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	border-radius: 15px;
}

/*------------*/

/*Abous Us*/

.about-us {
	background-color: #e5e5e5;
	padding-top: 120px;
	padding-bottom: 82px;
}

.popper-img {
	margin-bottom: 40px;
}

.about-us-title {
	font-weight: 600;
	font-size: 48px;
}

.about-us-subtitle {
	color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;
}

/*-----------*/

/*Chat Bot*/

.chat-bot {
	background-color: #e5e5e5;
	padding-top: 40px;
	padding-bottom: 80px;
}

.chatbot-info {
	margin-top: 70px;
	margin-bottom: 100px;
}

.chatbot-title {
	font-weight: 600;
	font-size: 48px;
}

.chatbot-subtitle {
	color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;
}

.chatbot-btn {
	font-size: 21px;
	font-weight: 600;
	padding-right: 20px;
	padding-left: 20px;
}

/*------------*/

/*Instagram*/

.instagram {
	background-color: #e5e5e5;
	padding-top: 40px;
	padding-bottom: 80px;
}

.instagram-title {
	font-weight: 600;
	font-size: 48px;
}

.instagram-subtitle {
	color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;	
}

.instagram-btn {
	font-size: 21px;
	font-weight: 600;
	padding-right: 20px;
	padding-left: 20px;
}

.modal-title {
	font-weight: 700;
}

/*-------------*/

/*Telegram Channel*/

.telegram-channel {
	background-color: #e5e5e5;
	padding-top: 100px;
	padding-bottom: 80px;
}

.channel-title {
	font-weight: 600;
	font-size: 48px;
}

.telegram-channel-info {
	margin-top: 110px;
}

.channel-subtitle {
	color: #01070DB2;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3rem;
    margin-top: 2rem;	
}

.channel-btn {
	font-size: 21px;
	font-weight: 600;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
}

/*--------------*/

/*Footer */

footer {
	background-color: #1a1a1a;
	color: #fff;
	margin-bottom: 0;
}

.footer-logo {
	display: inline-block;
	margin-top: 40px;
}

.footer-sologan {
	color: #a4a4a4;
	font-size: 21px;
}

.footer-section {
	margin-top: 40px;
}

.section-title {
	font-weight: 700;
	margin-bottom: 15px;
}

.copyright {
	display: inline-block;
	color: #a4a4a4;
	font-size: 18px;
	margin-bottom: 25px;
}

/*--------------*/